@media (max-width: 1500px)
    .header
        min-height: 63px           
        &_logo
            width: 202px
            height: 50px
        &_btn
            min-width: 172px
            height: 33px
            font-size: 12px
        .menu
            justify-content: center
            &_list
                width: 410px
                margin: 0
            &_item
                font-size: 15px
    
    .promo
        margin-top: 63px
        &_wrapper
            padding: 170px 0 180px 70px
            max-width: 627px
        &_text
            padding: 20px 10px 55px
            &_title
                font-size: 52px
                line-height: 60px
            &_subtitle
                font-size: 30px
            &_btn
                width: 282px
                height: 64px
                font-size: 17px
                margin-top: 23px
                line-height: 1.6

    .service
        height: 762px
        &_wrapper
            top: -50px
        &_block
            padding: 20px 20px 0
            margin-bottom: 30px
        &_title
            font-size: 30px     
        &_btn
            width: 202px
            height: 53px
            font-size: 14px
            line-height: 3.5
            margin-top: 20px

    .experience
        height: 529px
        margin-bottom: 30px
        &_info
            min-height: 310px
            &_title
                font-size: 33px
            &_text
                font-size: 16px
        &_card
            min-height: 293px
            padding-top: 15px
            &_title
                font-size: 120px
            &_subtitle
                font-size: 46px
                line-height: 80.62%
        &_box
            &_icons
                width: 160.52px
                height: 160.52px

    .bgr
        padding-top: 40px
    .contacts
        &_title
            font-size: 30px
            line-height: 110.62%
            margin-bottom: 50px
        &_addres
            height: 145px
            a
                font-size: 30px
                img
                    width: 55px
                    height: 55px
                    margin-right: 30px
        &_maps
            height: 320px

    .form
        padding: 0 0 107px
        &_title
            font-size: 30px
            margin-bottom: 42px
        &_input
            &_name
                height: 50px
                margin-bottom: 30px
                font-size: 20px
            &_message
                height: 170px
                margin-bottom: 19px
                font-size: 20px
        &_data
            &_text
                font-size: 24px
        
        label::before
            width: 50px
            height: 50px

        &_btn
            height: 55px
            font-size: 20px

    .footer
        min-height: 159px
        padding: 34px 0 26px
        &_content
            flex-direction: column
        &_menu_list
            padding: 0
            margin-bottom: 20px

        &_menu_item
            margin-right: 124px
            &:last-child
                margin-right: 0
            a
                margin: 0
        &_descr
            text-align: center
            &_item
                margin-bottom: 0
                span
                    display: inline
                    margin-left: 5px
           
        
          
            



                


